<aside>
  <h1><i class="material-icons">local_movies</i></h1>
  <ul>
    <li class="active">
      <div class="nav-item">
        <a class="nav-link" [routerLink]="['top_rated']"><i class="material-icons">list</i>
        Top Rated</a>
      </div>
    </li>
    <li>
      <div class="nav-item">
          <a class="nav-link" [routerLink]="['upcoming']"><i class="material-icons">hourglass_empty</i>
            Top Rated</a>
      </div>
    </li>
  </ul>
</aside>

<!-- <nav>
  <ul class="menu">
    <li>
      <a class="nav-link" [routerLink]="['top_rated']"><svg class="person">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#person"></use>
        </svg><span>Top Rated</span></a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['upcoming']"><svg class="video-player">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-player"></use>
        </svg><span>Upcoming</span></a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['now_playing']"><svg class="speech-bubble">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech-bubble"></use>
        </svg><span>Now Playing</span></a>
    </li>
    <li>
      <a class="nav-link" [routerLink]="['popular']"><svg class="paper-airplane">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paper-airplane"></use>
        </svg><span>Popular</span></a>
    </li>
  </ul>
</nav> -->
