.movie{
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 5px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  color: #fff !important;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #9ac7fa,
      inset -20px 0 80px rgb(0, 0, 0),
      inset 20px 0 300px #9ac7fa,
      inset -20px 0 300px rgb(0, 0, 0),
      0 0 50px #fff,
      -10px 0 80px #9ac7fa,
      10px 0 80px rgb(0, 0, 0);
  }

  .movie-info {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;

    .movie-bio {
      position: relative;
      padding: 25px;
      height: 40%;

      h1 {
        color: white;
        font-weight: 400;
      }

      h4 {
        color: #9ac7fa;
        font-weight: 400;
      }

      .minutes {
        display: inline-block;
        margin-top: 15px;
        color: white;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
      }

      .type {
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }

      .movie-thumbnail {
        position: relative;
        float: left;
        margin-right: 1.5em;
        height: 12em;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }

    .movie_desc {
      padding: 1em;
      height: 100%;

      .text {
        color: #9ac7fa;
      }
    }

    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          color: #fff;
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;

          &:hover {
            transition: color 0.3s;
            color: rgba(0, 0, 0, 0.7);
          }

          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .movie-background {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie-bio {
    width: 65%;
  }

  .movie_desc {
    width: 50%;
  }

  .movie-info {
    background: linear-gradient(to right, #000 55%, transparent 100%);
  }

  .movie-background {
    width: 45%;
    //background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie {
    width: 100%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .movie-background {
    width: 45%;
    background-position: 50% 50% !important;
  }

  .movie-bio {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .movie-info {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}
